h2 {
	text-align: center;
}

form {
	margin: auto;
	width: 50%;
	padding: 20px;
	border: 1px solid #110a0a;
	border-radius: 5px;
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #6f4d4d;
	border-radius: 4px;
	background-color: #f7f3f6;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: rgb(100, 156, 170);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #825381;
}
